<section class="entrenamientos">

<h2>Modos de Entrenamiento</h2>

<div class="cards">

<div class="card">
<img src="/public/img/entrenamiento_funcionalimg.png">
<h3>Entrenamiento Funcional</h3>
</div>

<div class="card">
<img src="/public/img/crossfitimg.png">
<h3>CrossFit</h3>
</div>

<div class="card">
<img src="/public/img/yoga-y-pilates-img.jpg">
<h3>Yoga & Pilates</h3>
</div>

<div class="card">
<img src="/public/img/spinningimg.webp">
<h3>Spinning</h3>
</div>

</div>

</section>