<section class="hero">
    <div class="hero-content">
        <h1>GYM <span>JDO</span></h1>

        <p>
            Transforma tu cuerpo, transforma tu vida. El mejor gimnasio con
            equipamiento de última generación y entrenadores profesionales.
        </p>

        <a href="#planes" class="btn-unete">
            Ver Planes
        </a>
    </div>
</section>